{% extends 'base.html.twig' %}

{% block title %}Agência{% endblock %}


{% block body %}

<div class='container'>
    <h1>Agências</h1><br>

     {# <tr>
            <th>ID</th>
            <th>Número</th>
            <th>Agências</th>
        </tr> #}
    {% for agencia in agencias  %}
       <div class="form-control"> 
            <a type"button" class="agc btn btn-info" href="{{path('agencia_edit', {agencia:agencia.id})}}">Editar</a>
            <a type"button" class="agc btn btn-secondary" href="{{path('agencia_delete', {agencia:agencia.id})}}">Deletar</a>

            <div class="agc form-control"> <b>{{ agencia.nome }}</b> </div>
            <div > Número da Agência: {{ agencia.numero }} </div>
            <div > Endereço: {{ agencia.endereco }} </div>
            <div > Telefone: {{ agencia.telefone }} </div><br>
            Gerente:
        </div>
        
        <br>
        
    {% endfor %}


    <div class="mb-5">
            <a type"button" class="btn btn-primary" href="{{path('agencia_add')}}">Criar Nova Agência</a>
    </div><br>

</div>

{% endblock %}