{% extends 'base.html.twig' %}

{% block title %}Criar Conta
{% endblock %}

{% block body %}

	<div class='container'>

		<h1>Criar Conta</h1><br>
		<form class="row g-3">
			<di class="row g-3">
				{{ form_start(contaForm) }}
				{{ form_start(userForm) }}
				<div class="col-md-8">

					<label class="form-label " style='color:white'>Nome completo</label>
					{{ form_widget(userForm.nome, {'attr': {'class': 'form-control'}})}}
					{# <input type="text" class="form-control" id="validationDefault01" required> #}
				</div>
				<div class="col-md-4">
					<label  class="form-label" style='color:white'>CPF</label>
					{{ form_widget(userForm.cpf, {'attr': {'class': 'form-control' }})}}
					{# <input type="text" class="form-control" id="validationDefault02" required> #}
				</div>
				<div class="col-md-4">
					<label class="form-label" style='color:white'>E-mail</label>
					{{ form_widget(userForm.email, {'attr': {'class': 'form-control'}})}}
					{# <input type="text" class="form-control" id="validationDefault02" required> #}
				</div>
				<div class="col-md-4">
					<label  class="form-label" style='color:white'>Senha</label>
					{{ form_widget(userForm.password, {'attr': {'class': 'form-control'}})}}
					{# <div class="input-group">
										            <input type="password" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
										            </div> #}
				</div>
				<div class="col-md-4">
					<label class="form-label" style='color:white'>Repita a Senha</label>
					{# <div class="input-group"> #}
					<input
					type="password" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" name='senha' required>
				{# </div> #}
				</div>
				<div class="col-md-4">
					<label  class="form-label" style='color:white'>Tipo de Conta</label>
					<select class="form-select" id="validationDefault04" required>
						<option selected disabled value=""></option>
						<option>1 - Conta Corrente</option>
						<option>2 - Poupança</option>
					</select>
				</div>
				<div class="col-md-4">
					<label  class="form-label" style='color:white'>Número da Conta</label>
					{{ form_widget(contaForm.numero, {'attr': {'class': 'form-control'}})}}
					{# <input type="text" class="form-control" id="validationDefault02" required> #}
				</div>
				<div class="col-md-4">
					<label class="form-label" style='color:white'>Saldo</label>
					<div class="input-group">
						<span class="input-group-text" id="inputGroupPrepend2">R$</span>
						{{ form_widget(contaForm.saldo, {'attr': {'class': 'form-control'}})}}
						{# <input type="number" class="form-control" id="saldo"  aria-describedby="inputGroupPrepend2" > #}
					</div>
				</div>

				{# <div class="col-md-3">
								            <label for="validationDefault05" class="form-label">Zip</label>
								            <input type="text" class="form-control" id="validationDefault05" required>
								        </div> #}
				<div class="col-12">
					<div class="form-check">
						<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
						<label class="form-check-label" for="invalidCheck2">
							Aceito os termos e condições.
						</label>
					</div>
				</div>
				<div class="col-12">
					<button class="btn btn-primary" type="submit">Criar Conta</button>
				</div>
				{{ form_end(userForm) }}
				{{ form_end(contaForm) }}
			</div>
		</form>
	</div>

{% endblock %}
